.facility_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 20px 0;

    .facility_image {
        height: 300px;
        width: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.facility_login {
    display: flex;
    column-gap: 8px;
    margin: 30px 0;
    font-size: 18px;

    button {
        color: rgb(255, 193, 7);
        font-weight: bold;
    }
}

.error {
    color: red;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 600;
}