.schedule-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .schedule_item {
        height: fit-content;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #2a6c50;
        color: white;
        border-radius: 15px;

        &.selected {
            background-color: rgb(255, 193, 7);
            color: black;
        }

        &.pending {
            pointer-events: none;
            background-color: rgba(255, 100, 0, 1);
        }
    }
}

.facility_bookings {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 400px 1fr;
    row-gap: 27px;

    .button-style {
        width: max-content;
        margin: auto;
    }

}

.schedule-info {
    .color-orange {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:before {

            content: '';
            width: 10px;
            display: block;
            height: 10px;
            background-color: rgba(255, 100, 0, 1);
        }
    }

    .color-yellow {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:before {

            content: '';
            width: 10px;
            display: block;
            height: 10px;
            background-color: rgb(255, 193, 7);
        }
    }

    .color-green {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:before {

            content: '';
            width: 10px;
            display: block;
            height: 10px;
            background-color: #2a6c50;
        }
    }

}