.banner-container{
    height: 650px;
    background-image: url('/src/assets/images/banner-image.jpg');
}

.custom-info{
    background-color: #2a6c50;
    padding: 10px 0;
}

.custom-info svg{
    height: 25px;
}

.custom-info .custom-text{
    margin-left: 5px;
    font-weight: 700;
}